.root:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  position: relative;
  min-width: 0;
}
.svg__qKej {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text {
  color: #dadada;
}
.svg__qXejL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
