@tailwind base;
@tailwind components;
@tailwind utilities;

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: absolute;
  width: 100%;
  height: 10%;  
  /* color: white; */
}

.bg-gray-300 {
  background-color: #ddd;
}

.App-link {
  color: #61dafb;
}

.blocklyToolboxDiv {
  width: 15%;
  margin-left: -5px;
  border-radius: 5px;
}

.blocklyToolboxContents {
  padding: 20px;
  padding-top: 60px;
  margin: auto;
}

.blocklyToolboxCategory {
  padding: 5px;
}

svg.blocklyMainWorkspaceScrollbar {
  display: none;
}

svg.blocklyFlyoutScrollbar {
  display: none;
}

#CompileField {
  position: absolute;
  width: calc(75% - 5px);
  left: 5px;
  top: 10%;
  height: calc(90% - 5px);
}

rect.blocklyMainBackground {
  fill: #ddd !important;
  width: 85%;
  transform: translateX(15%);
  rx: 10;
  ry: 10;
}

#blockTitle {
  position: absolute;
  top: 10%;
  left: 7%;
  transform: translate(-50%, 10px);
  z-index: 500;
}

#workspaceTitle {
  position: absolute;
  top: 10%;
  left: 45%;
  transform: translate(-50%, 10px);
  z-index: 500;
}

#Sidebar {
  height: 90%;
}

.material-symbols-outlined {
  transform: translateY(5px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
