.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 16.0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(254, 255, 254, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 16.0px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(254, 255, 254, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(255, 0, 95, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(255, 0, 95, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

@media (display-mode: standalone) {
  .App {
    user-select: none;
  }
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    margin-bottom: 0;
}
.mui-textfield>input, .mui-textfield>textarea {
    font-size: inherit;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* System font classes */

.App .systemFontRegular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
.App .systemFontBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
}
.App .systemFontItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-style: italic;
}
.App .systemFontBoldItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* App-wide text styles specified in React Studio */

.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.0px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 15.0px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 20.0px;
  font-weight: 600;
}
.App .headlineFont * {
  font-size: 20.0px;
}
.App .navBar {
  background-color: #bee9ee;
  color: #fefffe;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  min-height: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: #fefffe;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.App .navBar > div {
  margin-top: 7px;
}

.App {
  --tab-bar-height: 54px;
}
@media (display-mode: standalone) {
  .App {
    --tab-bar-height: 90px;
  }
}
.App .tabBar {
  height: var(--tab-bar-height);
  display: flex;
  flex-direction: row;
  pointer-events: auto;
  z-index: 9999;
}
.App .tabBar > * {
  flex: 1 0 auto;
  text-align: center;
  cursor: pointer;
}
.App .tabBar div {
  box-sizing: border-box;
  font-size: 13px; /* default size for tab bar text */
  line-height: 15px;
}
@media (max-width: 767px) {
  .App .tabBar div {
    font-size: 11px; /* small screen size for tab bar text */
    line-height: 13px;
  }
}
.App .tabBar img {
  height: 24px;
  padding-top: 6px;
}
.App .tabBarMenu {
  overflow: hidden;
}
.App .tabBarPageContent {
  overflow: scroll;
  flex: 1;
}
.App .tabBarPageContent > .AppScreen {
  position: relative;
  overflow: scroll;
}
.App .tabBarPageContent > .AppScreen > .background {
  position: fixed;
  left: auto;
  top: auto;
  height: calc(100% - var(--tab-bar-height));
}
.App .tabBarPageContent > .AppScreen > .navBarContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.App .tabBarPageContent > .AppScreen > .navBarContainer > .navBar {
  position: fixed;
  left: auto;
  top: auto;
}
@media (min-width: 568px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 768px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 1024px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

.App .marker {
  width: 0px;
  height: 0px;
}

.App .drawer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.App .drawerOpen {
  transform: translateX(0%);
  transition: 0.3s;
}

.App .drawerClosedLeft {
  transform: translateX(-100%);
  transition: 0.3s;
}

.App .drawerClosedRight {
  transform: translateX(100%);
  transition: 0.3s;
}

.App .drawerContent {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.App .drawerContent > * {
  height: 100%;
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .StartScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .StartScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .StartScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elImage {
    position: relative;
    margin-top: 26px;
    width: 136px;
    margin-left: 28px;
  }
  .StartScreen > .layoutFlow > .elImage > * { 
  width: 136px;
  height: 77px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elImage {
    position: relative;
    margin-top: 26px;
    width: 136px;
    margin-left: 28px;
  }
  .StartScreen > .layoutFlow > .elImage > * { 
  width: 136px;
  height: 77px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elImage {
    position: relative;
    margin-top: 26px;
    width: 136px;
    margin-left: 28px;
  }
  .StartScreen > .layoutFlow > .elImage > * { 
  width: 136px;
  height: 76px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elImage {
    position: relative;
    margin-top: 26px;
    width: 136px;
    margin-left: 28px;
  }
  .StartScreen > .layoutFlow > .elImage > * { 
  width: 136px;
  height: 76px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elText {
    overflow: hidden;
    position: relative;
    margin-top: -10px;
    width: 238px;
    margin-left: 32px;
  }
  .StartScreen > .layoutFlow > .elText > * { 
  width: 238px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elText {
    overflow: hidden;
    position: relative;
    margin-top: -10px;
    width: 238px;
    margin-left: 32px;
  }
  .StartScreen > .layoutFlow > .elText > * { 
  width: 238px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elText {
    overflow: hidden;
    position: relative;
    margin-top: -10px;
    width: 236px;
    margin-left: 32px;
  }
  .StartScreen > .layoutFlow > .elText > * { 
  width: 236px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elText {
    overflow: hidden;
    position: relative;
    margin-top: -10px;
    width: 236px;
    margin-left: 32px;
  }
  .StartScreen > .layoutFlow > .elText > * { 
  width: 236px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elText7 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 236px;
  }
  .StartScreen > .layoutFlow > .elText7 > * { 
  width: 238px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elText7 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 236px;
  }
  .StartScreen > .layoutFlow > .elText7 > * { 
  width: 238px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elText7 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 234px;
  }
  .StartScreen > .layoutFlow > .elText7 > * { 
  width: 236px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elText7 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 234px;
  }
  .StartScreen > .layoutFlow > .elText7 > * { 
  width: 236px;
  }
  
}

.StartScreen .elButtonCopy4 button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.StartScreen .elButtonCopy4 button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elButtonCopy4 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 145px;
    margin-left: 293px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy4 > * { 
  width: 145px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elButtonCopy4 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 145px;
    margin-left: 293px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy4 > * { 
  width: 145px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elButtonCopy4 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 144px;
    margin-left: 291px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy4 > * { 
  width: 144px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elButtonCopy4 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 144px;
    margin-left: 291px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy4 > * { 
  width: 144px;
  height: 35px;
  }
  
}

.StartScreen .elButton2 button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.StartScreen .elButton2 button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elButton2 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 145px;
    margin-left: 293px;
  }
  .StartScreen > .layoutFlow > .elButton2 > * { 
  width: 145px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elButton2 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 145px;
    margin-left: 293px;
  }
  .StartScreen > .layoutFlow > .elButton2 > * { 
  width: 145px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elButton2 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 144px;
    margin-left: 291px;
  }
  .StartScreen > .layoutFlow > .elButton2 > * { 
  width: 144px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elButton2 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 144px;
    margin-left: 291px;
  }
  .StartScreen > .layoutFlow > .elButton2 > * { 
  width: 144px;
  height: 35px;
  }
  
}

.StartScreen .elButtonCopy5 button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.StartScreen .elButtonCopy5 button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elButtonCopy5 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 145px;
    margin-left: 293px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy5 > * { 
  width: 145px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elButtonCopy5 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 145px;
    margin-left: 293px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy5 > * { 
  width: 145px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elButtonCopy5 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 144px;
    margin-left: 291px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy5 > * { 
  width: 144px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elButtonCopy5 {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 144px;
    margin-left: 291px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy5 > * { 
  width: 144px;
  height: 35px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elRect {
    position: relative;
    margin-top: 10px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elRect > * { 
    width: 100%;
  height: 360px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elRect {
    position: relative;
    margin-top: 10px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elRect > * { 
    width: 100%;
  height: 360px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elRect {
    position: relative;
    margin-top: 10px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elRect > * { 
    width: 100%;
  height: 358px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elRect {
    position: relative;
    margin-top: 10px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elRect > * { 
    width: 100%;
  height: 358px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elRect3 {
    position: relative;
    margin-top: -355px;
    width: 178px;
    margin-left: 33px;
  }
  .StartScreen > .layoutFlow > .elRect3 > * { 
  width: 178px;
  height: 346px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elRect3 {
    position: relative;
    margin-top: -355px;
    width: 178px;
    margin-left: 33px;
  }
  .StartScreen > .layoutFlow > .elRect3 > * { 
  width: 178px;
  height: 346px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elRect3 {
    position: relative;
    margin-top: -352px;
    width: 177px;
    margin-left: 33px;
  }
  .StartScreen > .layoutFlow > .elRect3 > * { 
  width: 177px;
  height: 344px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elRect3 {
    position: relative;
    margin-top: -352px;
    width: 177px;
    margin-left: 33px;
  }
  .StartScreen > .layoutFlow > .elRect3 > * { 
  width: 177px;
  height: 344px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elImage3 {
    position: relative;
    margin-top: -349px;
    width: 136px;
    margin-left: 370px;
  }
  .StartScreen > .layoutFlow > .elImage3 > * { 
  width: 136px;
  height: 36px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elImage3 {
    position: relative;
    margin-top: -349px;
    width: 136px;
    margin-left: 370px;
  }
  .StartScreen > .layoutFlow > .elImage3 > * { 
  width: 136px;
  height: 36px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elImage3 {
    position: relative;
    margin-top: -346px;
    width: 136px;
    margin-left: 368px;
  }
  .StartScreen > .layoutFlow > .elImage3 > * { 
  width: 136px;
  height: 36px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elImage3 {
    position: relative;
    margin-top: -346px;
    width: 136px;
    margin-left: 368px;
  }
  .StartScreen > .layoutFlow > .elImage3 > * { 
  width: 136px;
  height: 36px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elRect4 {
    position: relative;
    margin-top: 331px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elRect4 > * { 
    width: 100%;
  height: 201px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elRect4 {
    position: relative;
    margin-top: 331px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elRect4 > * { 
    width: 100%;
  height: 201px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elRect4 {
    position: relative;
    margin-top: 329px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elRect4 > * { 
    width: 100%;
  height: 200px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elRect4 {
    position: relative;
    margin-top: 329px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elRect4 > * { 
    width: 100%;
  height: 200px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elText2 {
    overflow: hidden;
    position: relative;
    margin-top: -198px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elText2 > * { 
    width: 100%;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elText2 {
    overflow: hidden;
    position: relative;
    margin-top: -198px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elText2 > * { 
    width: 100%;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elText2 {
    overflow: hidden;
    position: relative;
    margin-top: -196px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elText2 > * { 
    width: 100%;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elText2 {
    overflow: hidden;
    position: relative;
    margin-top: -196px;
    margin-left: 28px;
    margin-right: 21.3%;
    width: calc(78.7% - 28px);
  }
  .StartScreen > .layoutFlow > .elText2 > * { 
    width: 100%;
  }
  
}

.StartScreen .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.StartScreen .elButton button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 145px;
    margin-left: 44px;
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 145px;
    margin-left: 44px;
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 144px;
    margin-left: 44px;
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 144px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 0px;
    width: 144px;
    margin-left: 44px;
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 144px;
  height: 35px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elText3 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 717px;
  }
  .StartScreen > .layoutFlow > .elText3 > * { 
  width: 238px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elText3 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 716px;
  }
  .StartScreen > .layoutFlow > .elText3 > * { 
  width: 238px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elText3 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 712px;
  }
  .StartScreen > .layoutFlow > .elText3 > * { 
  width: 236px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elText3 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 712px;
  }
  .StartScreen > .layoutFlow > .elText3 > * { 
  width: 236px;
  }
  
}

.StartScreen .elButtonCopy button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.StartScreen .elButtonCopy button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elButtonCopy {
    line-height: 35px;
    position: relative;
    margin-top: -34px;
    width: 145px;
    margin-left: 201px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy > * { 
  width: 145px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elButtonCopy {
    line-height: 35px;
    position: relative;
    margin-top: -34px;
    width: 145px;
    margin-left: 201px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy > * { 
  width: 145px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elButtonCopy {
    line-height: 35px;
    position: relative;
    margin-top: -34px;
    width: 144px;
    margin-left: 200px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy > * { 
  width: 144px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elButtonCopy {
    line-height: 35px;
    position: relative;
    margin-top: -34px;
    width: 144px;
    margin-left: 200px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy > * { 
  width: 144px;
  height: 35px;
  }
  
}

.StartScreen .elButtonCopy2 button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.StartScreen .elButtonCopy2 button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elButtonCopy2 {
    line-height: 35px;
    position: relative;
    margin-top: -34px;
    width: 145px;
    margin-left: 361px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy2 > * { 
  width: 145px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elButtonCopy2 {
    line-height: 35px;
    position: relative;
    margin-top: -34px;
    width: 145px;
    margin-left: 361px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy2 > * { 
  width: 145px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elButtonCopy2 {
    line-height: 35px;
    position: relative;
    margin-top: -34px;
    width: 144px;
    margin-left: 358px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy2 > * { 
  width: 144px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elButtonCopy2 {
    line-height: 35px;
    position: relative;
    margin-top: -34px;
    width: 144px;
    margin-left: 358px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy2 > * { 
  width: 144px;
  height: 35px;
  }
  
}

.StartScreen .elButtonCopy3 button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.StartScreen .elButtonCopy3 button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elButtonCopy3 {
    line-height: 35px;
    position: relative;
    margin-top: -35px;
    width: 145px;
    margin-left: 523px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy3 > * { 
  width: 145px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elButtonCopy3 {
    line-height: 35px;
    position: relative;
    margin-top: -35px;
    width: 145px;
    margin-left: 523px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy3 > * { 
  width: 145px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elButtonCopy3 {
    line-height: 35px;
    position: relative;
    margin-top: -35px;
    width: 144px;
    margin-left: 520px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy3 > * { 
  width: 144px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elButtonCopy3 {
    line-height: 35px;
    position: relative;
    margin-top: -35px;
    width: 144px;
    margin-left: 520px;
  }
  .StartScreen > .layoutFlow > .elButtonCopy3 > * { 
  width: 144px;
  height: 35px;
  }
  
}


.StartScreen > .layoutFlow > .elTextarea textarea {
  height: 100%;
}

.StartScreen > .layoutFlow > .elTextarea textarea {
  color: rgba(254, 255, 254, 0.8500);
}

.StartScreen > .layoutFlow > .elTextarea textarea {
  border-bottom-color: rgba(254, 255, 254, 0.8500);
}

.StartScreen > .layoutFlow > .elTextarea textarea::input-placeholder {
  color: rgba(254, 255, 254, 0.4250);
}

.StartScreen > .layoutFlow > .elTextarea textarea::placeholder {
  color: rgba(254, 255, 254, 0.4250);
}

/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elTextarea {
    position: relative;
    margin-top: 15px;
    margin-left: 66px;
    margin-right: 21.3%;
    width: calc(78.7% - 66px);
  }
  .StartScreen > .layoutFlow > .elTextarea > * { 
    width: 100%;
  height: 88px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elTextarea {
    position: relative;
    margin-top: 15px;
    margin-left: 66px;
    margin-right: 21.3%;
    width: calc(78.7% - 66px);
  }
  .StartScreen > .layoutFlow > .elTextarea > * { 
    width: 100%;
  height: 88px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elTextarea {
    position: relative;
    margin-top: 15px;
    margin-left: 66px;
    margin-right: 21.3%;
    width: calc(78.7% - 66px);
  }
  .StartScreen > .layoutFlow > .elTextarea > * { 
    width: 100%;
  height: 87px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elTextarea {
    position: relative;
    margin-top: 15px;
    margin-left: 66px;
    margin-right: 21.3%;
    width: calc(78.7% - 66px);
  }
  .StartScreen > .layoutFlow > .elTextarea > * { 
    width: 100%;
  height: 87px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elRect2 {
    position: relative;
    margin-top: -541px;
    margin-left: 78.7%;
    margin-right: 0px;
    width: calc(21.3% - 0px);
  }
  .StartScreen > .layoutFlow > .elRect2 > * { 
    width: 100%;
  height: 226px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elRect2 {
    position: relative;
    margin-top: -541px;
    margin-left: 78.7%;
    margin-right: 0px;
    width: calc(21.3% - 0px);
  }
  .StartScreen > .layoutFlow > .elRect2 > * { 
    width: 100%;
  height: 226px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elRect2 {
    position: relative;
    margin-top: -538px;
    margin-left: 78.7%;
    margin-right: 0px;
    width: calc(21.3% - 0px);
  }
  .StartScreen > .layoutFlow > .elRect2 > * { 
    width: 100%;
  height: 224px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elRect2 {
    position: relative;
    margin-top: -538px;
    margin-left: 78.7%;
    margin-right: 0px;
    width: calc(21.3% - 0px);
  }
  .StartScreen > .layoutFlow > .elRect2 > * { 
    width: 100%;
  height: 224px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elImage2 {
    position: relative;
    margin-top: -216px;
    margin-left: calc(78.7% + 5px);
    margin-right: 49px;
    width: calc(21.3% - 54px);
  }
  .StartScreen > .layoutFlow > .elImage2 > * { 
    width: 100%;
  height: 212px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elImage2 {
    position: relative;
    margin-top: -216px;
    margin-left: calc(78.7% + 5px);
    margin-right: 49px;
    width: calc(21.3% - 54px);
  }
  .StartScreen > .layoutFlow > .elImage2 > * { 
    width: 100%;
  height: 212px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elImage2 {
    position: relative;
    margin-top: -214px;
    margin-left: calc(78.7% + 5px);
    margin-right: 49px;
    width: calc(21.3% - 54px);
  }
  .StartScreen > .layoutFlow > .elImage2 > * { 
    width: 100%;
  height: 211px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elImage2 {
    position: relative;
    margin-top: -214px;
    margin-left: calc(78.7% + 5px);
    margin-right: 49px;
    width: calc(21.3% - 54px);
  }
  .StartScreen > .layoutFlow > .elImage2 > * { 
    width: 100%;
  height: 211px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elRect5 {
    position: relative;
    margin-top: 10px;
    margin-left: 78.7%;
    margin-right: 0px;
    width: calc(21.3% - 0px);
  }
  .StartScreen > .layoutFlow > .elRect5 > * { 
    width: 100%;
  height: 350px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elRect5 {
    position: relative;
    margin-top: 10px;
    margin-left: 78.7%;
    margin-right: 0px;
    width: calc(21.3% - 0px);
  }
  .StartScreen > .layoutFlow > .elRect5 > * { 
    width: 100%;
  height: 350px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elRect5 {
    position: relative;
    margin-top: 10px;
    margin-left: 78.7%;
    margin-right: 0px;
    width: calc(21.3% - 0px);
  }
  .StartScreen > .layoutFlow > .elRect5 > * { 
    width: 100%;
  height: 348px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elRect5 {
    position: relative;
    margin-top: 10px;
    margin-left: 78.7%;
    margin-right: 0px;
    width: calc(21.3% - 0px);
  }
  .StartScreen > .layoutFlow > .elRect5 > * { 
    width: 100%;
  height: 348px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elText4 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    margin-left: 1146px;
    margin-right: 0px;
    width: calc(100.0% - 1146px);
  }
  .StartScreen > .layoutFlow > .elText4 > * { 
    width: 100%;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elText4 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    margin-left: 1146px;
    margin-right: 0px;
    width: calc(100.0% - 1146px);
  }
  .StartScreen > .layoutFlow > .elText4 > * { 
    width: 100%;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elText4 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    margin-left: 1140px;
    margin-right: 0px;
    width: calc(100.0% - 1140px);
  }
  .StartScreen > .layoutFlow > .elText4 > * { 
    width: 100%;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elText4 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    margin-left: 1140px;
    margin-right: 0px;
    width: calc(100.0% - 1140px);
  }
  .StartScreen > .layoutFlow > .elText4 > * { 
    width: 100%;
  }
  
}

.StartScreen .elFab button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.StartScreen .elFab button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elFab {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1130px;
  }
  .StartScreen > .layoutFlow > .elFab > * { 
  width: 68px;
  height: 68px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elFab {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1130px;
  }
  .StartScreen > .layoutFlow > .elFab > * { 
  width: 68px;
  height: 68px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elFab {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1122px;
  }
  .StartScreen > .layoutFlow > .elFab > * { 
  width: 68px;
  height: 68px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elFab {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1122px;
  }
  .StartScreen > .layoutFlow > .elFab > * { 
  width: 68px;
  height: 68px;
  }
  
}

.StartScreen .elFabCopy button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.StartScreen .elFabCopy button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elFabCopy {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1130px;
  }
  .StartScreen > .layoutFlow > .elFabCopy > * { 
  width: 68px;
  height: 68px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elFabCopy {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1130px;
  }
  .StartScreen > .layoutFlow > .elFabCopy > * { 
  width: 68px;
  height: 68px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elFabCopy {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1122px;
  }
  .StartScreen > .layoutFlow > .elFabCopy > * { 
  width: 68px;
  height: 68px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elFabCopy {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1122px;
  }
  .StartScreen > .layoutFlow > .elFabCopy > * { 
  width: 68px;
  height: 68px;
  }
  
}

.StartScreen .elFabCopy2 button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.StartScreen .elFabCopy2 button:focus {
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elFabCopy2 {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1130px;
  }
  .StartScreen > .layoutFlow > .elFabCopy2 > * { 
  width: 68px;
  height: 68px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elFabCopy2 {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1130px;
  }
  .StartScreen > .layoutFlow > .elFabCopy2 > * { 
  width: 68px;
  height: 68px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elFabCopy2 {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1122px;
  }
  .StartScreen > .layoutFlow > .elFabCopy2 > * { 
  width: 68px;
  height: 68px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elFabCopy2 {
    line-height: 68px;
    position: relative;
    margin-top: 0px;
    width: 68px;
    margin-left: 1122px;
  }
  .StartScreen > .layoutFlow > .elFabCopy2 > * { 
  width: 68px;
  height: 68px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elText5 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1178px;
  }
  .StartScreen > .layoutFlow > .elText5 > * { 
  width: 238px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elText5 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1178px;
  }
  .StartScreen > .layoutFlow > .elText5 > * { 
  width: 238px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elText5 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1170px;
  }
  .StartScreen > .layoutFlow > .elText5 > * { 
  width: 236px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elText5 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1170px;
  }
  .StartScreen > .layoutFlow > .elText5 > * { 
  width: 236px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elTextCopy {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1178px;
  }
  .StartScreen > .layoutFlow > .elTextCopy > * { 
  width: 238px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elTextCopy {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1178px;
  }
  .StartScreen > .layoutFlow > .elTextCopy > * { 
  width: 238px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elTextCopy {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1170px;
  }
  .StartScreen > .layoutFlow > .elTextCopy > * { 
  width: 236px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elTextCopy {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1170px;
  }
  .StartScreen > .layoutFlow > .elTextCopy > * { 
  width: 236px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elTextCopy2 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1178px;
  }
  .StartScreen > .layoutFlow > .elTextCopy2 > * { 
  width: 238px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elTextCopy2 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1178px;
  }
  .StartScreen > .layoutFlow > .elTextCopy2 > * { 
  width: 238px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elTextCopy2 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1170px;
  }
  .StartScreen > .layoutFlow > .elTextCopy2 > * { 
  width: 236px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elTextCopy2 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1170px;
  }
  .StartScreen > .layoutFlow > .elTextCopy2 > * { 
  width: 236px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elText6 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1244px;
  }
  .StartScreen > .layoutFlow > .elText6 > * { 
  width: 238px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elText6 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1244px;
  }
  .StartScreen > .layoutFlow > .elText6 > * { 
  width: 238px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elText6 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1236px;
  }
  .StartScreen > .layoutFlow > .elText6 > * { 
  width: 236px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elText6 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1236px;
  }
  .StartScreen > .layoutFlow > .elText6 > * { 
  width: 236px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elTextCopy3 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1244px;
  }
  .StartScreen > .layoutFlow > .elTextCopy3 > * { 
  width: 238px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elTextCopy3 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 238px;
    margin-left: 1244px;
  }
  .StartScreen > .layoutFlow > .elTextCopy3 > * { 
  width: 238px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elTextCopy3 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1236px;
  }
  .StartScreen > .layoutFlow > .elTextCopy3 > * { 
  width: 236px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elTextCopy3 {
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    width: 236px;
    margin-left: 1236px;
  }
  .StartScreen > .layoutFlow > .elTextCopy3 > * { 
  width: 236px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elImage4 {
    position: relative;
    margin-top: 0px;
    width: 76px;
    margin-left: 1142px;
  }
  .StartScreen > .layoutFlow > .elImage4 > * { 
  width: 76px;
  height: 113px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elImage4 {
    position: relative;
    margin-top: 0px;
    width: 76px;
    margin-left: 1142px;
  }
  .StartScreen > .layoutFlow > .elImage4 > * { 
  width: 76px;
  height: 113px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elImage4 {
    position: relative;
    margin-top: 0px;
    width: 76px;
    margin-left: 1136px;
  }
  .StartScreen > .layoutFlow > .elImage4 > * { 
  width: 76px;
  height: 112px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elImage4 {
    position: relative;
    margin-top: 0px;
    width: 76px;
    margin-left: 1136px;
  }
  .StartScreen > .layoutFlow > .elImage4 > * { 
  width: 76px;
  height: 112px;
  }
  
}

/* This component has a fixed-size layout */
  .Button1 {
    min-height: 34px;  /* This component has a fixed size */
    overflow: hidden;
    min-width: 91px; /* This component has a fixed size */
  }
  .Button1 > .background > .containerMinHeight {
    min-height: 34px;
  }


  .Button1 > .foreground > .state0_elTitle {
    overflow: hidden;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 82px;
    height: 28px;
  }

/* This component has a fixed-size layout */
  .Button1 {
    min-height: 34px;  /* This component has a fixed size */
    overflow: hidden;
    min-width: 91px; /* This component has a fixed size */
  }
  .Button1 > .background > .containerMinHeight {
    min-height: 34px;
  }


  .Button1 > .foreground > .state1_elTitle {
    overflow: hidden;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 82px;
    height: 28px;
  }


  .Button1 > .foreground > .state1_elSelectionMarker {
    position: absolute;
    left: 0px;
    top: 32px;
    width: 91px;
    height: 2px;
  }

