.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #0e0e0e;
  min-width: 0;
  min-height: 0;
  padding: 23px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.header {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 19px 19px 0px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 29px);
  width: calc(100% + 29px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 29px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .header > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .header > :global(.__wab_flex-container) > *,
  .header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .header > :global(.__wab_flex-container) > picture > img,
  .header
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.freeBox__s5Osx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__s5Osx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s5Osx > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s5Osx > :global(.__wab_flex-container) > *,
  .freeBox__s5Osx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__s5Osx > :global(.__wab_flex-container) > picture > img,
  .freeBox__s5Osx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.img__dtAoC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 75px;
  flex-shrink: 0;
}
.img__dtAoC > picture > img {
  object-fit: cover;
}
.img__dtAoC > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__fVfPn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 0px;
  margin-top: 16px;
  min-width: 0;
}
.text__ynqSh {
  position: relative;
  width: 280px;
  height: 72px;
  max-width: 800px;
  padding-top: 0px;
  color: #dadada;
  padding-right: 0px;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 28px;
  margin-right: 37px;
  margin-left: calc(37px + 29px) !important;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ynqSh {
    text-align: center;
    margin-bottom: 26px;
    height: 74px;
    margin-left: calc(37px + 0px) !important;
    margin-top: calc(0px + 15px) !important;
    flex-shrink: 0;
  }
}
.link__kqUmV {
  color: #1c7ed6;
}
.button___78V4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  min-width: 0;
}
.svg___97BdI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4O5Kl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__q2Kcx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  min-width: 0;
}
.svg__heeDn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yf7Yj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__v7Y75:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  min-width: 0;
}
.svg__yaQwh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mynG2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tminn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  text-align: center;
  color: #dadada;
  margin-bottom: 22px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tminn {
    display: block;
  }
}
.body {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___1Erg4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Erg4 {
    display: none;
  }
}
.blocks {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 1px;
  padding-top: 0px;
  min-width: 0;
}
.img__oj1Ft {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 228px;
  flex-shrink: 0;
}
.img__oj1Ft > picture > img {
  object-fit: cover;
}
.img__oj1Ft > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__oj1Ft {
    display: none !important;
  }
}
.img__nxJai {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 748px;
  flex-shrink: 0;
}
.img__nxJai > picture > img {
  object-fit: cover;
}
.img__nxJai > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nxJai {
    display: none !important;
  }
}
.contractControls2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  align-self: center;
  background: #262626;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  min-width: 0;
  padding: 8px;
}
.text__ljolf {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1248px;
  align-self: stretch;
  color: #dadada;
  left: auto;
  top: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ljolf {
    display: none;
  }
}
.contractButtons {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px 63px;
}
.contractButtons > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.contractButtons > :global(.__wab_flex-container) > *,
.contractButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contractButtons > :global(.__wab_flex-container) > picture > img,
.contractButtons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contractButtons {
    display: none;
  }
}
.button__nktXn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cnRye {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ew4Nn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__l0Zf5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__d9Yp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__za1Z {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__msAvo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__feVbi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zosSa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__w2QW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__owbgf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___16W1A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.interactiveElements {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__ichD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ichD > picture > img {
  object-fit: cover;
}
.img__ichD > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mHwrO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 585px;
  align-self: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  object-position: left 50%;
  flex-shrink: 0;
}
.img__mHwrO > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
.img__mHwrO > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: left 50%;
}
