@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-_dxNMVD7C: #1c7ed6;
  --plasmic-token-link: var(--token-_dxNMVD7C);
}

.plasmic_default_styles {
  --mixin-eiRQUznVNr96_font-family: "Inter";
  --mixin-eiRQUznVNr96_font-size: 16px;
  --mixin-eiRQUznVNr96_font-weight: 400;
  --mixin-eiRQUznVNr96_font-style: normal;
  --mixin-eiRQUznVNr96_color: #535353;
  --mixin-eiRQUznVNr96_text-align: left;
  --mixin-eiRQUznVNr96_text-transform: none;
  --mixin-eiRQUznVNr96_line-height: 1.5;
  --mixin-eiRQUznVNr96_letter-spacing: normal;
  --mixin-eiRQUznVNr96_white-space: pre-wrap;
  --mixin-eiRQUznVNr96_user-select: text;
  --mixin-eiRQUznVNr96_text-decoration-line: none;
  --mixin-eiRQUznVNr96_text-overflow: clip;
  --mixin-5XkqWjf76-Im_color: #000000;
  --mixin-5XkqWjf76-Im_font-weight: 900;
  --mixin-5XkqWjf76-Im_font-size: 72px;
  --mixin-5XkqWjf76-Im_line-height: 1;
  --mixin-5XkqWjf76-Im_letter-spacing: -4px;
  --mixin-qcmgwyxZE6U7_font-family: "Inter";
  --mixin-qcmgwyxZE6U7_color: #000000;
  --mixin-qcmgwyxZE6U7_font-size: 48px;
  --mixin-qcmgwyxZE6U7_font-weight: 700;
  --mixin-qcmgwyxZE6U7_letter-spacing: -1px;
  --mixin-qcmgwyxZE6U7_line-height: 1.1;
  --mixin-9CdNsIe6p9EI_color: #0070f3;
  --mixin-miCFT05WBrje_font-family: "Inter";
  --mixin-miCFT05WBrje_color: #000000;
  --mixin-miCFT05WBrje_font-size: 32px;
  --mixin-miCFT05WBrje_font-weight: 600;
  --mixin-miCFT05WBrje_letter-spacing: -0.8px;
  --mixin-miCFT05WBrje_line-height: 1.2;
  --mixin-oxR7XhOqEaSg_font-family: "Inter";
  --mixin-oxR7XhOqEaSg_color: #000000;
  --mixin-oxR7XhOqEaSg_font-size: 24px;
  --mixin-oxR7XhOqEaSg_font-weight: 600;
  --mixin-oxR7XhOqEaSg_letter-spacing: -0.5px;
  --mixin-oxR7XhOqEaSg_line-height: 1.3;
  --mixin-Fv3lhLiitxWP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Fv3lhLiitxWP_border-bottom-color: #dddddd;
  --mixin-Fv3lhLiitxWP_border-bottom-style: solid;
  --mixin-Fv3lhLiitxWP_border-bottom-width: 1px;
  --mixin-Fv3lhLiitxWP_border-left-color: #dddddd;
  --mixin-Fv3lhLiitxWP_border-left-style: solid;
  --mixin-Fv3lhLiitxWP_border-left-width: 1px;
  --mixin-Fv3lhLiitxWP_border-right-color: #dddddd;
  --mixin-Fv3lhLiitxWP_border-right-style: solid;
  --mixin-Fv3lhLiitxWP_border-right-width: 1px;
  --mixin-Fv3lhLiitxWP_border-top-color: #dddddd;
  --mixin-Fv3lhLiitxWP_border-top-style: solid;
  --mixin-Fv3lhLiitxWP_border-top-width: 1px;
  --mixin-Fv3lhLiitxWP_border-bottom-left-radius: 3px;
  --mixin-Fv3lhLiitxWP_border-bottom-right-radius: 3px;
  --mixin-Fv3lhLiitxWP_border-top-left-radius: 3px;
  --mixin-Fv3lhLiitxWP_border-top-right-radius: 3px;
  --mixin-Fv3lhLiitxWP_font-family: "Inconsolata";
  --mixin-Fv3lhLiitxWP_padding-bottom: 1px;
  --mixin-Fv3lhLiitxWP_padding-left: 4px;
  --mixin-Fv3lhLiitxWP_padding-right: 4px;
  --mixin-Fv3lhLiitxWP_padding-top: 1px;
  --mixin-E-Fayo4m2wt6_border-left-color: #dddddd;
  --mixin-E-Fayo4m2wt6_border-left-style: solid;
  --mixin-E-Fayo4m2wt6_border-left-width: 3px;
  --mixin-E-Fayo4m2wt6_color: #888888;
  --mixin-E-Fayo4m2wt6_padding-left: 10px;
  --mixin-lfisfr8p__ou_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lfisfr8p__ou_border-bottom-color: #dddddd;
  --mixin-lfisfr8p__ou_border-bottom-style: solid;
  --mixin-lfisfr8p__ou_border-bottom-width: 1px;
  --mixin-lfisfr8p__ou_border-left-color: #dddddd;
  --mixin-lfisfr8p__ou_border-left-style: solid;
  --mixin-lfisfr8p__ou_border-left-width: 1px;
  --mixin-lfisfr8p__ou_border-right-color: #dddddd;
  --mixin-lfisfr8p__ou_border-right-style: solid;
  --mixin-lfisfr8p__ou_border-right-width: 1px;
  --mixin-lfisfr8p__ou_border-top-color: #dddddd;
  --mixin-lfisfr8p__ou_border-top-style: solid;
  --mixin-lfisfr8p__ou_border-top-width: 1px;
  --mixin-lfisfr8p__ou_border-bottom-left-radius: 3px;
  --mixin-lfisfr8p__ou_border-bottom-right-radius: 3px;
  --mixin-lfisfr8p__ou_border-top-left-radius: 3px;
  --mixin-lfisfr8p__ou_border-top-right-radius: 3px;
  --mixin-lfisfr8p__ou_font-family: "Inconsolata";
  --mixin-lfisfr8p__ou_padding-bottom: 3px;
  --mixin-lfisfr8p__ou_padding-left: 6px;
  --mixin-lfisfr8p__ou_padding-right: 6px;
  --mixin-lfisfr8p__ou_padding-top: 3px;
  --mixin-SJu3mI8Kry_p_display: flex;
  --mixin-SJu3mI8Kry_p_flex-direction: column;
  --mixin-SJu3mI8Kry_p_align-items: stretch;
  --mixin-SJu3mI8Kry_p_justify-content: flex-start;
  --mixin-SJu3mI8Kry_p_list-style-position: outside;
  --mixin-SJu3mI8Kry_p_padding-left: 40px;
  --mixin-SJu3mI8Kry_p_position: relative;
  --mixin-SJu3mI8Kry_p_list-style-type: disc;
  --mixin-IhXSIHIEfHlC_display: flex;
  --mixin-IhXSIHIEfHlC_flex-direction: column;
  --mixin-IhXSIHIEfHlC_align-items: stretch;
  --mixin-IhXSIHIEfHlC_justify-content: flex-start;
  --mixin-IhXSIHIEfHlC_list-style-position: outside;
  --mixin-IhXSIHIEfHlC_padding-left: 40px;
  --mixin-IhXSIHIEfHlC_position: relative;
  --mixin-IhXSIHIEfHlC_list-style-type: decimal;
  --mixin-FDVDnp9QSeKNa_font-family: "Inter";
  --mixin-FDVDnp9QSeKNa_color: #000000;
  --mixin-FDVDnp9QSeKNa_font-size: 20px;
  --mixin-FDVDnp9QSeKNa_font-weight: 600;
  --mixin-FDVDnp9QSeKNa_letter-spacing: -0.3px;
  --mixin-FDVDnp9QSeKNa_line-height: 1.5;
  --mixin-KAHkByc6MVwf3_font-family: "Inter";
  --mixin-KAHkByc6MVwf3_color: #000000;
  --mixin-KAHkByc6MVwf3_font-size: 16px;
  --mixin-KAHkByc6MVwf3_font-weight: 600;
  --mixin-KAHkByc6MVwf3_line-height: 1.5;
  --mixin-goD8wmfcQcTWy_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-eiRQUznVNr96_font-family);
  font-size: var(--mixin-eiRQUznVNr96_font-size);
  font-weight: var(--mixin-eiRQUznVNr96_font-weight);
  font-style: var(--mixin-eiRQUznVNr96_font-style);
  color: var(--mixin-eiRQUznVNr96_color);
  text-align: var(--mixin-eiRQUznVNr96_text-align);
  text-transform: var(--mixin-eiRQUznVNr96_text-transform);
  line-height: var(--mixin-eiRQUznVNr96_line-height);
  letter-spacing: var(--mixin-eiRQUznVNr96_letter-spacing);
  white-space: var(--mixin-eiRQUznVNr96_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-5XkqWjf76-Im_color);
  font-weight: var(--mixin-5XkqWjf76-Im_font-weight);
  font-size: var(--mixin-5XkqWjf76-Im_font-size);
  line-height: var(--mixin-5XkqWjf76-Im_line-height);
  letter-spacing: var(--mixin-5XkqWjf76-Im_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-qcmgwyxZE6U7_font-family);
  color: var(--mixin-qcmgwyxZE6U7_color);
  font-size: var(--mixin-qcmgwyxZE6U7_font-size);
  font-weight: var(--mixin-qcmgwyxZE6U7_font-weight);
  letter-spacing: var(--mixin-qcmgwyxZE6U7_letter-spacing);
  line-height: var(--mixin-qcmgwyxZE6U7_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-9CdNsIe6p9EI_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-miCFT05WBrje_font-family);
  color: var(--mixin-miCFT05WBrje_color);
  font-size: var(--mixin-miCFT05WBrje_font-size);
  font-weight: var(--mixin-miCFT05WBrje_font-weight);
  letter-spacing: var(--mixin-miCFT05WBrje_letter-spacing);
  line-height: var(--mixin-miCFT05WBrje_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-oxR7XhOqEaSg_font-family);
  color: var(--mixin-oxR7XhOqEaSg_color);
  font-size: var(--mixin-oxR7XhOqEaSg_font-size);
  font-weight: var(--mixin-oxR7XhOqEaSg_font-weight);
  letter-spacing: var(--mixin-oxR7XhOqEaSg_letter-spacing);
  line-height: var(--mixin-oxR7XhOqEaSg_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-Fv3lhLiitxWP_background);
  font-family: var(--mixin-Fv3lhLiitxWP_font-family);
  border-radius: var(--mixin-Fv3lhLiitxWP_border-top-left-radius)
    var(--mixin-Fv3lhLiitxWP_border-top-right-radius)
    var(--mixin-Fv3lhLiitxWP_border-bottom-right-radius)
    var(--mixin-Fv3lhLiitxWP_border-bottom-left-radius);
  padding: var(--mixin-Fv3lhLiitxWP_padding-top)
    var(--mixin-Fv3lhLiitxWP_padding-right)
    var(--mixin-Fv3lhLiitxWP_padding-bottom)
    var(--mixin-Fv3lhLiitxWP_padding-left);
  border-top: var(--mixin-Fv3lhLiitxWP_border-top-width)
    var(--mixin-Fv3lhLiitxWP_border-top-style)
    var(--mixin-Fv3lhLiitxWP_border-top-color);
  border-right: var(--mixin-Fv3lhLiitxWP_border-right-width)
    var(--mixin-Fv3lhLiitxWP_border-right-style)
    var(--mixin-Fv3lhLiitxWP_border-right-color);
  border-bottom: var(--mixin-Fv3lhLiitxWP_border-bottom-width)
    var(--mixin-Fv3lhLiitxWP_border-bottom-style)
    var(--mixin-Fv3lhLiitxWP_border-bottom-color);
  border-left: var(--mixin-Fv3lhLiitxWP_border-left-width)
    var(--mixin-Fv3lhLiitxWP_border-left-style)
    var(--mixin-Fv3lhLiitxWP_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-E-Fayo4m2wt6_color);
  padding-left: var(--mixin-E-Fayo4m2wt6_padding-left);
  border-left: var(--mixin-E-Fayo4m2wt6_border-left-width)
    var(--mixin-E-Fayo4m2wt6_border-left-style)
    var(--mixin-E-Fayo4m2wt6_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-lfisfr8p__ou_background);
  font-family: var(--mixin-lfisfr8p__ou_font-family);
  border-radius: var(--mixin-lfisfr8p__ou_border-top-left-radius)
    var(--mixin-lfisfr8p__ou_border-top-right-radius)
    var(--mixin-lfisfr8p__ou_border-bottom-right-radius)
    var(--mixin-lfisfr8p__ou_border-bottom-left-radius);
  padding: var(--mixin-lfisfr8p__ou_padding-top)
    var(--mixin-lfisfr8p__ou_padding-right)
    var(--mixin-lfisfr8p__ou_padding-bottom)
    var(--mixin-lfisfr8p__ou_padding-left);
  border-top: var(--mixin-lfisfr8p__ou_border-top-width)
    var(--mixin-lfisfr8p__ou_border-top-style)
    var(--mixin-lfisfr8p__ou_border-top-color);
  border-right: var(--mixin-lfisfr8p__ou_border-right-width)
    var(--mixin-lfisfr8p__ou_border-right-style)
    var(--mixin-lfisfr8p__ou_border-right-color);
  border-bottom: var(--mixin-lfisfr8p__ou_border-bottom-width)
    var(--mixin-lfisfr8p__ou_border-bottom-style)
    var(--mixin-lfisfr8p__ou_border-bottom-color);
  border-left: var(--mixin-lfisfr8p__ou_border-left-width)
    var(--mixin-lfisfr8p__ou_border-left-style)
    var(--mixin-lfisfr8p__ou_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-SJu3mI8Kry_p_display);
  flex-direction: var(--mixin-SJu3mI8Kry_p_flex-direction);
  align-items: var(--mixin-SJu3mI8Kry_p_align-items);
  justify-content: var(--mixin-SJu3mI8Kry_p_justify-content);
  list-style-position: var(--mixin-SJu3mI8Kry_p_list-style-position);
  padding-left: var(--mixin-SJu3mI8Kry_p_padding-left);
  position: var(--mixin-SJu3mI8Kry_p_position);
  list-style-type: var(--mixin-SJu3mI8Kry_p_list-style-type);
  flex-column-gap: var(--mixin-SJu3mI8Kry_p_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-IhXSIHIEfHlC_display);
  flex-direction: var(--mixin-IhXSIHIEfHlC_flex-direction);
  align-items: var(--mixin-IhXSIHIEfHlC_align-items);
  justify-content: var(--mixin-IhXSIHIEfHlC_justify-content);
  list-style-position: var(--mixin-IhXSIHIEfHlC_list-style-position);
  padding-left: var(--mixin-IhXSIHIEfHlC_padding-left);
  position: var(--mixin-IhXSIHIEfHlC_position);
  list-style-type: var(--mixin-IhXSIHIEfHlC_list-style-type);
  flex-column-gap: var(--mixin-IhXSIHIEfHlC_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-FDVDnp9QSeKNa_font-family);
  color: var(--mixin-FDVDnp9QSeKNa_color);
  font-size: var(--mixin-FDVDnp9QSeKNa_font-size);
  font-weight: var(--mixin-FDVDnp9QSeKNa_font-weight);
  letter-spacing: var(--mixin-FDVDnp9QSeKNa_letter-spacing);
  line-height: var(--mixin-FDVDnp9QSeKNa_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-KAHkByc6MVwf3_font-family);
  color: var(--mixin-KAHkByc6MVwf3_color);
  font-size: var(--mixin-KAHkByc6MVwf3_font-size);
  font-weight: var(--mixin-KAHkByc6MVwf3_font-weight);
  line-height: var(--mixin-KAHkByc6MVwf3_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-goD8wmfcQcTWy_color);
}
